body {
  font-family: Arial;
  background: #F0E9E1;
  color: white;
  text-align: center;
}

nav a {
  margin: 10px;
  color: #423452;
  text-decoration: none;

  .post p,
.reply p,
#profileInfo p {
  margin: 4px 0;
}
}
